*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image:  url('makananbali/a.jpg');
    background-position: center;
    background-size: cover;
    height: 110vh;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(11, 15, 23);
    position: relative;
    text-align: center;
    justify-content: center;
}
.content ,par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1,2px;
    line-height: 30px;
    font-weight: bold;
    position: center;
}