*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.judul{
  color: rgba(220, 154, 11, 0.829);
  font-size: 35px;
  font: Arial;
  padding-left: 30px;
  float: left;
  padding-top: 20px;
  font-weight: bold;
}

.judul-right {
  float: center;
  padding: 20px 10px;
}

@media screen and (max-width: 500px) {
  .judul-right {
    float: none;
    display: block;
    text-align:right;
  }
}


main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 110vh;
}

    body {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      max-width: 960px;
      margin:0 auto;
      padding: 1em;
      font-size: 100%;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.875em;
      line-height: 1.5;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      border-bottom: 1px solid rgb(215, 215, 230);
    }
    ul {
      margin:0;
      padding:0;
      list-style:none;
    }
    #header ul li {
      display:inline-block;
      padding: .5em;
    }
    #content{
      width: 70%;
      float: left;
    }
    #content section {
      margin-top: 2em;
      border-top: 2px solid #ccc;
    }
    #sidebar {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 30%;
      float: right;
      padding-left: 1em;
    }
    section h3+p {
      border-bottom: 1px solid #ccc;
      padding-bottom: 1em;
    }
    section article {
      border-bottom: 1px solid #ccc;
      line-height:normal;
    }
    #footer { 
      clear:both;
      text-align:center;
      padding-top: 1em;
    }

.asside{
  width: 300px;
  height: 400px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  border-radius: 10px;
  padding: 25px;
  margin: auto;
  box-shadow: 5px 5px 11px 0px #00000073;
  text-align: center;
  color: #fff;
  font-family: helvetica;
  position:relative;
  top: 0%;
  left: 90%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}
footer{
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  border-top: dotted 2px #009b49;
  margin: 25px auto 0 auto;
}

